# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log

# Datasets
datasets/

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Application specific
backend/naval_ai.db
backend/uploads/
backend/outputs/
backend/reports/
frontend 2/
